{% extends "base.html" %}

{% block title %}Contact | HRfunc{% endblock %}

{% block content %}

<div class="grid grid-cols-1 md:grid-cols-1 gap-6 mt-12 text-center">
  <div class="bg-white dark:bg-gray-800 rounded-xl shadow-md p-6">
    <h2 class="text-xl font-semibold mb-2 text-indigo-700 dark:text-indigo-400">How to Reach Out</h2>
        <p class="text-gray-600 dark:text-gray-300">
            If you have any questions or comments about the HRfunc tool, please reach out to <span class = "text-indigo-300">help@hrfunc.org</span>.
            If you happen to spot any issues or a potential issue with the script, check out the github repos <a href = "https://github.com/dennys246/HRFunc/issues" class = "font-bold text-indigo-300 hover:text-indigo-500">issues page</a>. If you don't
            see the issue you're expieriencing, open a new ticket on it and we'll look into it as soon as possible!
        </p>
  </div>
</div>
{% endblock %}