{% extends "base.html" %}

{% block title %}Contact | RMD{% endblock %}

{% block content %}

<div class="grid grid-cols-1 md:grid-cols-1 gap-6 mt-12 text-center">
  <div class="bg-white dark:bg-gray-800 rounded-xl shadow-md p-6">
    <h2 class="text-xl font-semibold mb-2 text-indigo-700 dark:text-indigo-400">How to reach out</h2>
        <p class="text-gray-600 dark:text-gray-300">
            If you have any questions or comments about the HRfunc tool, please reach out to Denny Schaedig at dennys@wustl.edu
        </p>
  </div>
</div>
{% endblock %}