{% extends "base.html" %}

{% block title %}Events | RMD {% endblock %}

{% block content %}

<section class="max-w-6xl mx-auto px-4 py-12">
  <h2 class="text-5xl font-bold text-indigo-600 dark:text-indigo-400 mb-8 text-center">Upcoming Events</h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    
    <!-- Event Card -->
    <div class="bg-black rounded-xl shadow border border-gray-200 dark:border-gray-700 overflow-hidden">
      <img src="{{ url_for('static', filename='img/hrf_estimate.png') }}" alt="HRfunc Demo"
           class="w-full h-40 object-cover">
      <div class="p-4">
        <h3 class="text-lg font-semibold text-gray-800 dark:text-gray-100 mb-2 text-center"><strong class="text-indigo-400">HR<i><span style="font-family: 'Times New Roman', serif;">func</span></i></strong> Live Tutorial</h3>
        <p class="text-sm text-gray-600 dark:text-gray-400">🗓️ TBD </p>
        <p class="text-sm text-gray-600 dark:text-gray-400">🕐 12:00 PM MST</p>
        <p class="text-sm text-gray-600 dark:text-gray-400 mb-3">🌐 <a href="https://zoom.us/..." class="text-indigo-600 hover:underline">Zoom Link</a></p>
        <p class="text-sm text-gray-700 dark:text-gray-300">A walk-through of HRF and neural activity estimation in functional near infrared spectroscopy (fNIRS) with real data using <a href = '/hrfunc' class = 'text-indigo-400 hover:text-indigo-600'>HRfunc.</a></p>
      </div>
    </div>

    <!-- Add more cards below -->
    <div class="bg-black rounded-xl shadow border border-gray-200 dark:border-gray-700 overflow-hidden">
      <img src="{{ url_for('static', filename='img/fnirs_glm_contrast_right_deconv.png') }}" alt="Experiment demo"
           class="w-full h-40 object-cover">
      <div class="p-4">
        <h3 class="text-lg font-semibold text-gray-800 dark:text-gray-100 mb-2 text-center"><strong class="text-indigo-400">HR<i><span style="font-family: 'Times New Roman', serif;">tree</span></i></strong> Live Tutorial</h3>
        <p class="text-sm text-gray-600 dark:text-gray-400">🗓️ December 1st, 2025</p>
        <p class="text-sm text-gray-600 dark:text-gray-400">🕐 8:00 AM MST</p>
        <p class="text-sm text-gray-600 dark:text-gray-400 mb-3">🌍 Location: TBD</p>
        <p class="text-sm text-gray-700 dark:text-gray-300">Live demo of how to explore the HRtree and discussion of how HRF estimates are stores within the tree.</p>
      </div>
    </div>

  </div>
</section>

{% endblock %}