{% extends "base.html" %}

{% block title %}Guide{% endblock %}

{% block content %}

<div class="py-16 px-6 md:px-10 max-w-6xl mx-auto mt-10 text-gray-800 dark:text-gray-100">
    <div>
    <h2 class="text-4xl font-bold mb-4 text-indigo-600 dark:text-indigo-300 text-center">Getting Started</h2>
        <br><br>
        <p class="text-lg leading-relaxed mb-4 text-gray-700 dark:text-gray-200">
        The <strong>HR<i><span style="font-family: 'Times New Roman', serif;">func</span></i></strong> tool can be used to estimate 
        hemodynamic response functions and neural activity in functional near infrared spectroscopy (fNIRS). Estimate 
        neural activity in each subject and a group level hemodynamic response function (HRF) through Python and MNE following these steps.
        Check the <a href = "/QA" class = "font-bold text-indigo-500 dark:text-indigo-300 hover:opacity-80">Q & A</a> or <a href = "/contact" class = "font-bold text-indigo-500 dark:text-indigo-300 hover:opacity-80">reach out</a> if you have any questions.
        <ol class="list-decimal pl-6 space-y-2 text-gray-700 dark:text-gray-300 mt-6">
            <li>Prepare raw fNIRS scans and events</li>
            <li>(Optional) Estimate subject-level HRF estimates for each subject</li>
            <li>(Optional) Generate a subject pool HRF distribution</li>
            <li>Estimate channel-wise neural activity for each subject</li>
        </ol>
        <br><br>
        <div class="w-full">
        <div class="video-embed mt-6">
            <iframe 
            src="https://player.vimeo.com/video/1129022916?badge=0&autopause=0&player_id=0&app_id=58479&transparent=0"
            frameborder="0" 
            allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" 
            allowtransparency="true"
            title="snowgan_snowpack_intro_denny_schaedig">
            </iframe>
        </div>
        <script src="https://player.vimeo.com/api/player.js"></script>
        
        <p class="mt-4 text-center text-indigo-600 dark:text-indigo-200 italic">
            Video guide of how to use HR<i><span style="font-family: 'Times New Roman', serif;">func</span></i> to estimate HRFs and neural activity...
        </p>
        </div>
        <br><br><strong>Step 1</strong> - To first estimate subject level HRFs, load in your fNIRS data through <a href = "https://mne.tools/stable/index.html" class = "font-bold text-indigo-500 dark:text-indigo-300 hover:opacity-80">MNE</a>.
        Initialize a <code class="language-python"><span class="text-green 500 dark:text-green-200">hrfunc</span>.<span class="text-indigo-500 dark:text-indigo-200">montage</span>()</code> for 
        estimating neural activity, alongside HRFs if you have an event-based experiment design.

<div class="code-block text-sm font-mono copy-container mt-6">
    <button class="copy-btn absolute top-3 right-3 text-xs">
        Copy
    </button>
<pre><code class="language-python">
<span class="text-indigo-200">import</span> <span class="text-green-300">mne</span></span>
<span class="text-indigo-200">import</span> <span class="text-green-300">hrfunc</span> <span class="text-indigo-200">as</span> <span class="text-green-300">hrf</span>

<span class="text-gray-300"># Load in NIRX scans</span>
<span class="text-indigo-200">raw_scan</span> = <span class="text-green-300">mne</span>.io.read_raw_nirx("path/to/your/nirx/scan/")

<span class="text-gray-300"># Load a hrfunc montage</span>
<span class="text-indigo-200">montage</span> = <span class="text-green-300">hrf</span>.<span class="text-indigo-200">montage</span>()
</code></pre></div><br><br>

<strong>Step 2 (Optional)</strong> - To then estimate your own HRFs, if you have an event timeseries tied to your scans, load in your events 
(a list of 0's and 1's indicating when events occured in your fNIRS scan) however you store them. In this example we stored our events in a <code>.txt</code> file. Using these events alongside their relative fNIRS scans, 
iterate through each of your <strong>raw</strong> scans passing them into the <code class="language-python"><span class="text-indigo-500 dark:text-indigo-200">montage</span>.estimate_hrf()</code> 
function. The <strong>HR<i><span style="font-family: 'Times New Roman', serif;">func</span></i></strong> tool will automatically preprocess them for deconvolution, which is distinctly different than standard 
hemoglobin preprocessing. The <code class="language-python">lmbda</code> (lambda) variable can be tuned to increase and decrease noise suppresion 
within the signal.<br><br>
<strong>NOTE</strong>: If you did preprocess your data for deconvolution already, set the parameter <code>preprocessed = True</code> and HR<i><span style="font-family: 'Times New Roman', serif;">func</span></i> will skip preprocessing before estimating HRFs.<br>
</code></pre>
<div class="code-block text-sm font-mono copy-container mt-6">
    <button class="copy-btn absolute top-3 right-3 text-xs">
        Copy
    </button>
<pre><code class="language-python">

<span class="text-gray-300"># Load in events and format as a list of 0's and 1's representing an event sequence in NIRX sampling space</span>
<span class="text-indigo-200">with</span> open(<span class="text-green-300">"path/to/events.txt"</span>, <span class="text-green-300">"r"</span>) as file: <span class="text-gray-300"># Or however you save/load events</span>
    <span class="text-indigo-200">events</span> = [int(line.split('/n')[0]) <span class="text-indigo-200">for</span> line <span class="text-indigo-200">in</span> file.readlines()]    

<span class="text-gray-300"># Iterate through each of your MNE NIRX scans and estimate an HRF for it</span>
<span class="text-purple-300">for</span> <span class="text-indigo-200">scan</span> <span class="text-purple-300">in</span> <span class="text-indigo-200">raw_scans</span>:
    <span class="text-indigo-200">montage</span>.estimate_hrf(scan, events, duration = 30.0, lmbda = 1.0)
</code></pre>
    </div>
        <br><br><strong>Step 3 (Optional)</strong> - Once each scan has been passed into your montage to have HRFs estimated, you can now
        average across subject estimates to generate a subject-pool wide HRF estimate for each channel. 
        After generating a subject-pool wide HRF distribution for each NIRX channel, an HRF estimate will be attached to each of
        your hrf montage channel nodes for use in estimating neural activity. Save the object as a json object to use with other study analysis, 
        share with collaborators, or share with the wider neuroimaging community.
        <br>
    
<div class="code-block text-sm font-mono copy-container mt-6">
    <button class="copy-btn absolute top-3 right-3 text-xs">
        Copy
    </button>
<pre><code class="language-python">
<span class="text-gray-300"># Generate subject pool wide distribution</span>
<span class="text-indigo-200">montage</span>.generate_distribution() 
<span class="text-indigo-200">montage</span>.save('study_HRFs.json') 

<span class="text-gray-300"># Load previously estimated HRF montage back up for step 4 when ready</span>
<span class="text-indigo-200">montage</span> = <span class="text-green-300">hrf</span>.load_montage('study_HRFs.json')<br>
</code></pre>
</div>
</div>
<br><br><strong>Step 4</strong> - Now using our estimated HRFs we 
can estimate neural activity! To accomplish this you must iterate through each of your scans and pass them into your <code class="language-python"><span class="text-indigo-200">montage</span>.estimate_activity(raw)</code>. This will replace channel
hemoglobin data in place using using MNEs raw.apply_function() to each channel using
you're estimated channel HRF.
<br><br>
<strong>NOTE</strong>: You do not need to estimated HRF's to estimate neural activity. Without using estimated
HRF's, a canonical double-gamma HRF is used for deconvolving each channel. Accuracy of HRFs may vary depending on
how well the HRF matches the true HRF for your subject pool.
<br>

<div class="code-block text-sm font-mono copy-container mt-6">
    <button class="copy-btn absolute top-3 right-3 text-xs">
        Copy
    </button>
<pre><code class="language-python">
<span class="text-gray-300"># Estimate neural activity in place and save the nirx object</span>
<span class="text-purple-300">for</span> <span class="text-indigo-200">scan</span> <span class="text-purple-300">in</span> <span class="text-indigo-200">raw_scans</span>:
    <span class="text-indigo-200">montage</span>.estimate_activity(<span class="text-indigo-200">scan</span>)
    <span class="text-indigo-200">scan</span>.save('sub-123_deconvolved.fif')
</code></pre>
    </div>
    </div>
  </div>
  

{% endblock %}
