{% extends "base.html" %}

{% block title %} Guide | HRfunc{% endblock %}

{% block content %}

<div class="py-16 px-4 md:px-8 max-w-6xl mx-auto dark:bg-gray-900 dark:text-gray-100">
    <div>
    <h2 class="text-4xl font-bold mb-4 text-indigo-600 dark:text-indigo-400 text-center">Getting Started</h2>
        <br><br>
        <p class="text-lg text-white leading-relaxed mb-4">
        The <strong class="text-indigo-400">HR<i><span style="font-family: 'Times New Roman', serif;">func</span></i></strong> tool can be used to estimate latent hemodynamic response functions and neural activity in funcitonal near infrared spectroscopy (fNIRS). To accomplish this, one must...
        <ol class="list-decimal pl-6 space-y-2 text-gray-700 dark:text-gray-300">
            <li>Prepare raw fNIRS scans and events</li>
            <li>Estimate subject level estimates for each subject</li>
            <li>Generate a subject pool HRF distribution</li>
            <li>Estimate channel-wise neural activity for each subject</li>
        </ol>
        <br><br>
        <div class="w-full">
        <div style="padding:56.25% 0 0 0;position:relative;">
            <iframe 
            src="https://player.vimeo.com/video/1112126924?badge=0&autopause=0&player_id=0&app_id=58479" 
            frameborder="0" 
            allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" 
            style="position:absolute;top:0;left:0;width:100%;height:100%;" 
            title="snowgan_snowpack_intro_denny_schaedig">
            </iframe>
        </div>
        <script src="https://player.vimeo.com/api/player.js"></script>
        
        <p class="mt-2 text-center text-indigo-200 dark:text-indigo-200 italic">
            Video guide of how to use HRfunc to estimate HRFs and neural activity...
        </p>
        </div>
        <br><br>To first estimate subject level HRFs, initialize a <code class="language-python"><span class="text-green-200">hrfunc</span>.<span class="text-indigo-200">montage</span>()</code>
        object with one of your scans loaded into an MNE object to orient the <code class="language-python"><span class="text-green-200">hrfunc</span>.<span class="text-indigo-200">montage</span>()</code>
        to your NIRX montage setup. Then iterate through each of your <strong>raw</strong> scans passing them into the
        <code class="language-python"><span class="text-indigo-200">montage</span>.estimate_hrf()</code> 
        function. The <strong><strong class="text-indigo-400">HR<i><span style="font-family: 'Times New Roman', serif;">func</span></i></strong></strong> tool will automatically preprocess them for deconvolution, which is distinctly different than standard 
        hemoglobin preprocessing. The <code class="language-python">lmbda</code> (lambda) variable can be tuned to increase and decrease noise suppresion 
        within the signal.<br><br>
            
    <div class="w-full bg-black text-white text-sm font-mono overflow-x-auto py-6 px-6">
<pre><code class="language-python">
<span class="text-indigo-200">import</span> <span class="text-green-300">hrfunc</span> <span class="text-indigo-200">as</span> <span class="text-green-300">hrf</span>

<span class="text-gray-300"># Load in NIRX scans</span>
<span class="text-indigo-200">raw_scan</span> = <span class="text-green-300">mne</span>.io.read_raw_nirx("path/to/your/nirx/scan/")

<span class="text-gray-300"># Load in events and format as a list of 0's and 1's representing an event sequence in NIRX sampling space</span>
<span class="text-indigo-200">with</span> open(<span class="text-green-300">"path/to/events.txt"</span>, <span class="text-green-300">"r"</span>) as file: <span class="text-gray-300"># Or however you save/load events</span>
    <span class="text-indigo-200">events</span> = [int(line.split('/n')[0]) <span class="text-indigo-200">for</span> line <span class="text-indigo-200">in</span> file.readlines()]

<span class="text-gray-300"># Load a hrfunc montage</span>
<span class="text-indigo-200">montage</span> = <span class="text-green-300">hrf</span>.<span class="text-indigo-200">montage</span>(raw_scan)
    
<span class="text-gray-300"># Iterate through each of your MNE NIRX scans and estimate an HRF for it</span>
<span class="text-purple-300">for</span> <span class="text-indigo-200">scan</span> <span class="text-purple-300">in</span> <span class="text-indigo-200">raw_scans</span>:
    <span class="text-indigo-200">montage</span>.estimate_hrf(scan, events, duration = 30.0, lmbda = 1.0)

</code></pre>
    </div>
            <br><br>Once each scan has been passed into your montage to have HRFs estimated, you can now
            average across subject estimates to generate a subject-pool wide HRF estimate for each channel. <br><br>
    
    <div class="w-full bg-black text-white text-sm font-mono overflow-x-auto py-6 px-6">
<pre><code class="language-python">
<span class="text-gray-300"># Generate subject pool wide distribution</span>
<span class="text-indigo-200">montage</span>.generate_distribution() 
<span class="text-indigo-200">montage</span>.save('study_HRFs.json') 
</code></pre>
</div>
</div>
<br><br>After generating a subject-pool wide HRF distribution for each NIRX channel, an HRF estimate will be attached to each of
your hrf montage channel nodes for use in estimating neural activity. Save the object as a json object to use with other study analysis, 
share with collaborators, or share with the wider neuroimaging community.

Now using our estimated HRFs we can estimate neural activity! <br><br>To accomplish this
you must iterate through each of your scans and pass them into your <code class="language-python"><span class="text-indigo-200">montage</span>.estimate_activity(raw)</code>. This will replace channel
hemoglobin data in place using using MNEs raw.apply_function() to each channel using
you're estimated channel HRF.<br><br>
<div class="w-full bg-black text-white text-sm font-mono overflow-x-auto py-6 px-6">
<pre><code class="language-python">
<span class="text-gray-400"># Load previously estimated HRF montage</span>
<span class="text-indigo-200">montage</span> = <span class="text-green-300">hrf</span>.load_montage('study_HRFs.json')<br>
<span class="text-gray-400"># Estimate neural activity in place and save the nirx object</span>
<span class="text-purple-300">for</span> <span class="text-indigo-200">scan</span> <span class="text-purple-300">in</span> <span class="text-indigo-200">raw_scans</span>:
    <span class="text-indigo-200">scan</span> = <span class="text-indigo-200">montage</span>.estimate_activity(<span class="text-indigo-200">scan</span>)
    <span class="text-indigo-200">scan</span>.save('sub-123_deconvolved.fif')
</code></pre>
    </div>
    </div>
  </div>

{% endblock %}