{% extends "base.html" %}

{% block title %}Home | HRfunc{% endblock %}

{% block content %}
<section class="py-20 text-center text-gray-800 dark:text-gray-100">
  <h1 class="text-5xl font-extrabold leading-tight">
    Hemodynamics and Neural Activity<br> Illuminated
  </h1>
</section>

<div class="w-full">
  <img src="{{ url_for('static', filename='img/fnirs_channel_data_2_transparent_new.png') }}"
       alt="Hemoglobin and Neural Activity Overlaid"
       class="w-full h-auto object-cover" />
</div>
{% endblock %}
